/*	Copyright 2020 Nashad Rahman
	You may use this site, its theme, or stylesheet with the permission of the creator. ---->
*/

body {

	background-color: #101010;
	color: white;
	text-align: center;
	font-size: 3vh;
	font-family:sans-serif;

}
/*
<style>
@import 'https://fonts.googleapis.com/css?family=Roboto:300';
</style>
*/
/******TOP HEADER******/

h1.header {

	margin: auto;
	font-family: sans-serif;
	font-size: 7vh;
	overflow: hidden;
    	padding: 0px;
	transition:all 0.3s ease-in-out;
}

a{
    text-decoration: none; 
} 

p{
	font-family:sans-serif;
	color: white;
    max-width: 95%;
    margin: auto;

    transition:all 0.3s ease-in-out;
    font-size: 3vh;
    padding: 0px;
}

p.itemTitle{
    font-size: 200%;
    text-align: center;
    padding: 0em;
}

p.subtitle{
    text-align: center;
    font-style: italic;
}

p.itemSubtitle{
    text-align: center;
    font-style: italic;
}

p.itemDescription{
    text-align: left;
    text-indent: 1vh;
    font-size: 70%;
}

p.images{
    alignment: "center";
	width:20%;
	height:20%;
	border-radius = 3vh;
	//padding: 1em;
}
.pageContent{
	text-align: center;
	max-width: 95vmin;
	margin: auto;
	margin-top: 25px;
	
}


.pageItem{
    //text-align: center;

    background-color: rgba(30, 35, 35, .8);
	padding: 3vmin;
	box-shadow: 0 0 .7vh white;
	//max-width: 95vmin;
	//margin: auto;
	//margin-top: 25px;
	transition:all 0.3s ease-in-out;
	border-radius: 0.5vh;
	border: 2px solid rgba(250, 250, 250, 1);

}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img{
    margin-left: auto;
    margin-right: auto;
    border-radius = 10%;
}

ul{
font-family:sans-serif;
	color: white;
	text-align: left;
    max-width: 800px;
    margin: auto;

	transition:all 0.3s ease-in-out;
    font-size: 16px;
    padding: 0px;
}
